<main class="p-4 md:p-8">
  <div class="flex flex-col md:flex-row w-full">
    <section class="w-full p-8">
      <app-header />
      <div class="md:max-w-[400px] w-full mx-auto md:pt-[8.69rem]">
        <div class="flex flex-col items-center">
          <h1
            class="text-3xl font-semibold leading-[2.375rem] text-light-neutral-900"
          >
            Bem vindo de volta
          </h1>
          <span class="text-base font-normal mb-8 text-light-neutral-700">
            Entre e ajude os helpinho de hoje
          </span>
        </div>
        <app-login-form />
        <div
          class="flex items-center justify-center w-full pb-[4.5rem] md:pb-[8.69rem]"
        >
          <a
            routerLink="/register"
            class="inline-block mt-8 text-sm font-normal"
            routerLink="/register"
          >
            Ainda não faz conhece o helpinho?
            <strong class="font-semibold text-light-primary-700">
              Registre-se grátis
            </strong>
          </a>
        </div>
      </div>
      <app-footer />
    </section>
    <section
      class="bg-light-neutral-900 w-full pt-[7.12rem] px-[1.0625rem] pb-[0.88rem] rounded-[1.875rem] md:px-14 md:pb-14 md:pt-[42.88rem]"
    >
      <h2
        class="text-2xl text-white font-medium leading-7 tracking-[-0.03rem] mb-6 md:text-4xl md:leading-[-2.75rem] md:tracking-[-0.045rem]"
      >
        O Helpinho pode mudar a vida de milhões de pessoas todos os dias
      </h2>
      <div class="">
        <h4
          class="text-white text-2xl leading-7 font-semibold md:text-[1.875rem] md:leading-[2.375rem]"
        >
          Amélie Laurent
        </h4>
        <div class="mt-1 md:mt-3">
          <p
            class="text-white text-base font-semibold leading-4 mb-[0.12rem] md:text-lg md:leading-7"
          >
            Diretora de recursos, ONG
          </p>
          <p
            class="text-white text-sm leading-4 font-medium md:text-base md:leading-6"
          >
            Web Development Agency
          </p>
        </div>
      </div>
    </section>
  </div>
</main>
