<section
  class="bg-light-neutral-900 w-full pt-[7.12rem] px-[1.0625rem] pb-[0.88rem] rounded-[1.875rem] md:px-14 md:pb-14 md:pt-[42.88rem]"
>
  <h2
    class="text-2xl text-white font-medium leading-7 tracking-[-0.03rem] mb-6 md:text-4xl md:leading-[-2.75rem] md:tracking-[-0.045rem]"
  >
    O Helpinho pode mudar a vida de milhões de pessoas todos os dias
  </h2>
  <div class="">
    <h4
      class="text-white text-2xl leading-7 font-semibold md:text-[1.875rem] md:leading-[2.375rem]"
    >
      Amélie Laurent
    </h4>
    <div class="mt-1 md:mt-3">
      <p
        class="text-white text-base font-semibold leading-4 mb-[0.12rem] md:text-lg md:leading-7"
      >
        Diretora de recursos, ONG
      </p>
      <p
        class="text-white text-sm leading-4 font-medium md:text-base md:leading-6"
      >
        Web Development Agency
      </p>
    </div>
  </div>
</section>
